*untracked/
*obsolete*
models/
estratificacion-reports/
configurations/used/
predictions/
*__pycache__*
*.pyc
*.ini
*.zip
*.xlsx
*.csv
*.md
figures/
*.png
.Rhistory
.spyproject/
*.txt
*untitled*
configurations/*/used
main/SafeLogisticRegression.py

